<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Camera is only used to scan WireGuard QR codes, and is optional. -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />

    <!--
      The WireGuard tunnel AAR (com.wireguard.android:tunnel) already declares
      com.wireguard.android.backend.GoBackend$VpnService with BIND_VPN_SERVICE and
      the android.net.VpnService intent-filter, so we do not redeclare it here.
      The persistent VPN notification is managed by the system.
    -->

    <application
        android:name=".KabelWachtApp"
        android:allowBackup="false"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KabelWacht"
        tools:targetApi="29">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.KabelWacht">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
